/* Basic button styling */
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#hoverButton:hover {
    background-color: lightblue;
}

#clickButton {
    background-color: lightgreen;
}

/* Gallery Styling */
#gallery img {
    margin: 10px;
    width: 150px;
    height: 150px;
}

/* Accordion styling */
.accordion-content {
    display: none;
    background-color: lightgray;
    padding: 10px;
}

.accordion-btn {
    background-color: lightcoral;
    padding: 10px;
    width: 100%;
}

.accordion-btn:active {
    background-color: lightgreen;
}
